.button{
background-color: rgba(13, 86, 86, 0.644);
width: auto;
border-radius: 0.5rem;
height: 2rem;
padding: 0 1rem;
margin: 1rem;
}

.button:hover{
    background-color: rgba(99, 193, 162, 0.679);
}